.splash_bg {
    background: radial-gradient(#1D60E1, #7651E0);
    /*background: radial-gradient(ellipse at top, #1D60E1, #C8B5FD),*/
    /*radial-gradient(ellipse at bottom, #7651E0, transparent);*/
}

.splash_content {
    color: white;
    text-align: center;
}

.splash_content h1 {
    font-size: 5em;
}

.color2 {
    color: rgba(255,255,255,0.7);
    font-weight: 500;
    font-style: italic;
}

.right_text {
    text-align: left;
    padding-bottom: 100px;
}

.step_image {
    width: 30%;
    text-align: left;
    padding-bottom: 15px;
}

.glass_container {
    padding: 100px;
    margin-top: -200px;
    border-radius: 10px;
    text-align: left;
    color: white;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(40px);
    border: solid 2px transparent;
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}

@media screen and (max-width: 576px) {
    .splash_content h1 {
        font-size: 4em;
    }

    .indented_p {
        padding-left: 0px;
    }

    .step_content {
        padding-bottom: 50px;
    }

    .right_text {
        text-align: left;
    }
}