.hero {
    text-align: center;
    height: 100%;
    background-image: url("https://kmg-site-assets.kaycdn.com/plant-growth.gif");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.factor_desc {
    color: white;
}

.frus {
    font-style: italic;
}